<a href="https://colab.research.google.com/github/smkandel/Quizes/blob/main/Test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a function to calculate area and circumference of a circle.
def area_of_circle(radius):
  return 3.14*radius*radius

radius=6 
print(area_of_circle(radius))

def circumference_of_circle(radius):
  return 2*3.14*radius
print(circumference_of_circle(radius))

113.03999999999999
37.68

In [ ]:
#A certain print order costs $3.00 per copy for orders of less than ten copies, $1.25 for for orders of 10-99 copies, and $0.90 per copy for orders of 100 copies or more. Write a function that returns a total price for the order.


def total_price(n):
  if n<10:
    cost=3
  elif n>10 and n<100:
    cost= 1.25
  elif n >=100:
    cost= 0.9
  return cost*n  

n=99
print(total_price(n))

123.75

In [ ]:
#Write a function that takes in a list of integers or floats and returns True if the list contains duplicates and False if the list does not contain duplicates. Use a type hint to “enforce” the correct type.
list1=[1,2,3,2,1]

def check_duplicates(list_temp):
  for k in list1:
    temp_check=list_temp.copy()
    temp_check.remove(k)
    print("Removed list", temp_check)
    if k in temp_check:
      return True
  return False

print(check_duplicates(list1))

Removed list [2, 3, 2, 1]
True

In [ ]:
list1=[1,2,3,2,1]
len(list1)

my_set=set(list1)
my_set
len(my_set)

3

In [ ]:
#Write a function that takes in a string and returns the string with all the vowels

str1="Hello python programming"


def is_vowels(str1):
  str_temp=""
  vowels="aeiou"
  for k in str1:
    if k.lower() in vowels:
      str_temp=str_temp+k
    return str_temp
print(is_vowels(str1))

In [ ]:
#Using a loop (that is, without using a slice), write a function “reverse_list” and takes a list as input and returns a copy of the list in which all the elements have been swapped (the first element with the last, the second with the next to last, etc.) Test that it works correctly for the following lists:

[7, 6, 5, 4, 3, 2, 1]